@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --color-indigo-600: #4F46E5;
  --color-green-500: #10B981;
  --color-red-500: #EF4444;
}

body {
  font-family: var(--font-sans);
}

.glass-panel {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
